body{
  background-color: #7D70BA;
}
h1{
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
}
h2{
  font-family: 'Raleway', sans-serif;
}
