body{

background-color: #7D70BA;
margin: 0px;
padding-bottom: 0px;

}

.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.title-div{
  top: 30px;
  background-color: #343633;
  border-radius: 20px;
  line-height: 0px;
  padding: 35px;
  margin: 0px;
  height: auto;
  width: 200px;
  font-family: 'Azeret Mono', monospace;
  color: white;
  font-size: 30px;
}

.gamebox-div{
  background-color: #343633;
  border-radius: 20px;
  height: 750px;
  width: 600px;
  top: 150px;
}

table {
  border: 0px;
  height: 550px;
  width: 550px;
  position: absolute;
  bottom: 25px;
}

td {
  border-radius: 5px;
  background-color: red;
}


/*
Colors from color pallet
#5CC8FF
#93867F
#343633
#7D70BA
#DEC1FF
#7ED321
#E13232
*/

.Wave{
  aspect-ratio: 850/675;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  }
  
  .waveSVG{
  
    background-image: url('/Public/SVG/waves.svg');
  
  }