body {

  background-color: #7D70BA;
  margin: 0px;

}

h1{

  color: white;
  font-family: 'Azeret Mono', monospace;
  text-align: center;

}

.LOGIN_FORM{

  width: 500px;
  height: 300px;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  background-color: #343633;
  border-radius: 10px 10px 10px 10px;

}

.LOGIN_FORM input{

  width: 91%;
  padding: 15px 10px;
  transform: translate(10px, -5px);
  font-size: 15px;

}

.LOGIN_BUTTON{

  color: Black;
  font-family: 'Azeret Mono', monospace;
  right: 10px;
  bottom: 10px;
  width: 85px;
  padding: 10px 10px;
  position: absolute;
  font-size: 15px;

}

.CREATE_ACCOUNT_BUTTON{

  color: Black;
  font-family: 'Azeret Mono', monospace;
  left: 10px;
  bottom: 10px;
  width: 155px;
  padding: 10px 10px;
  position: absolute;
  font-size: 15px;

}

.LOGIN_FORM_TEXT{

  color: white;
  font-family: 'Azeret Mono', monospace;
  transform: translate(10px, 0px);

}

.Wave{
aspect-ratio: 850/675;
width: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: absolute;
z-index: -1;
bottom: 0px;
}

.waveSVG{

  background-image: url('/Public/SVG/waves.svg');

}
