body {

background-color: #7D70BA;

}

h1{

  color: white;
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;

}

h2{

    color: white;
    font-family: 'Gemunu Libre', sans-serif;

}
